grafana:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - grafana.klimczak.xyz
    path: /
    pathType: Prefix
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.klimczak.xyz
  
  sidecar:
    datasources:
      defaultDatasourceEnabled: false
      alertmanager:
        enabled: false
  
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: "Prometheus"
          type: prometheus
          uid: prometheus
          url: http://prometheus-kube-prometheus-prometheus.monitoring:9090/
          access: proxy
          isDefault: false
          jsonData:
            httpMethod: POST
            timeInterval: 30s
        - name: "Alertmanager"
          type: alertmanager
          uid: alertmanager
          url: http://prometheus-kube-prometheus-alertmanager.monitoring:9093/
          access: proxy
          jsonData:
            handleGrafanaManagedAlerts: false
            implementation: prometheus
        - name: "Loki"
          type: loki
          uid: ef34h0yjkohs0b
          url: "http://loki.monitoring.svc.cluster.local:3100"
          isDefault: false
          editable: true
          jsonData:
            maxLines: 1000
            derivedFields:
              - datasourceUid: tempo
                matcherRegex: "trace_id=(\\w+)"
                name: TraceID
                url: "$${__value.raw}"
              - datasourceUid: tempo
                matcherRegex: "traceID=(\\w+)"
                name: TraceID
                url: "$${__value.raw}"
        - name: "Tempo"
          type: tempo
          uid: tempo
          url: "http://tempo.monitoring.svc.cluster.local:3100"
          access: proxy
          isDefault: false
          editable: true
          jsonData:
            httpMethod: GET
            tracesToLogs:
              datasourceUid: ef34h0yjkohs0b  # Your Loki UID
              tags: ['job', 'instance', 'pod', 'namespace']
              mappedTags: [{ key: 'service.name', value: 'app' }]
              mapTagNamesEnabled: false
              spanStartTimeShift: '1h'
              spanEndTimeShift: '1h'
              filterByTraceID: false
              filterBySpanID: false
            tracesToMetrics:
              datasourceUid: prometheus
              tags: [{ key: 'service.name', value: 'app' }]
            serviceMap:
              datasourceUid: prometheus
            nodeGraph:
              enabled: true
            search:
              hide: false
            lokiSearch:
              datasourceUid: ef34h0yjkohs0b

prometheus-node-exporter:
  kind: DaemonSet

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
  prometheusSpec:
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    podMonitorSelector: {}
    podMonitorNamespaceSelector: {}
    additionalScrapeConfigs:
      - job_name: 'node-exporter'
        static_configs:
          - targets: ['192.168.1.29:9100','mail.klimczak.xyz:9100']

      - job_name: nextcloud
        static_configs:
          - targets: ['nextcloud-exporter.nextcloud.svc.cluster.local']

      - job_name: pve
        static_configs:
         - targets: ['192.168.1.2:9221']
alertmanager:
  enabled: true

