# Default values for homepage.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: ghcr.io/gethomepage/homepage
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.1.1"

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  type: NodePort
  port: 3000
  nodePort: 31912

# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: homepage.homelab
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - homepage.homelab
      secretName: internal-tls

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /
    port: 3000
readinessProbe:
  httpGet:
    path: /
    port: 3000

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: 
  - name: homepage-config
    configMap:
      name: homepage
  - name: logs
    emptyDir: {}

volumeMounts:
  - mountPath: /app/config/custom.js
    name: homepage-config
    subPath: custom.js
  - mountPath: /app/config/custom.css
    name: homepage-config
    subPath: custom.css
  - mountPath: /app/config/bookmarks.yaml
    name: homepage-config
    subPath: bookmarks.yaml
  - mountPath: /app/config/docker.yaml
    name: homepage-config
    subPath: docker.yaml
  - mountPath: /app/config/kubernetes.yaml
    name: homepage-config
    subPath: kubernetes.yaml
  - mountPath: /app/config/services.yaml
    name: homepage-config
    subPath: services.yaml
  - mountPath: /app/config/settings.yaml
    name: homepage-config
    subPath: settings.yaml
  - mountPath: /app/config/widgets.yaml
    name: homepage-config
    subPath: widgets.yaml
  - mountPath: /app/config/logs
    name: logs

nodeSelector: {}

tolerations: []

affinity: {}

bookmarks: []
homepage:
  settings: ""
  customCss: ""
  customJs: ""
  docker: ""

  services:
    - Links:
        - Plex:
            icon: plex.png
            href: http://192.168.1.29:32400/web/index.html
            description: Plex TV
        - Grafana:
            icon: grafana.png
            href: https://grafana.klimczak.xyz/
            description: Grafana Dashboards
        - FreshRSS:
            icon: freshrss.png
            href: https://rss.klimczak.xyz
            description: FreshRSS
        - Pi-hole:
            icon: pi-hole.png
            href: https://192.168.1.29
            description: Pi hole
        - Transmission:
            icon: transmission.png
            href: http://192.168.1.29:9091/transmission/web
            description: Transmission
        - Budget:
            icon: actual.png
            href: https://budget.klimczak.xyz
            description: Actual (budget)

  widgets:
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "laptop"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - resources:
        backend: resources
        expanded: true
        cpu: true
        memory: true
        network: default
