replicaCount: 1

image:
  repository: freshrss/freshrss
  pullPolicy: IfNotPresent
  tag: "1.26.3"

service:
  type: ClusterIP
  port: 80

database:
  type: "pgsql"  # PostgreSQL
  host: "postgresql.postgresql.svc.cluster.local"
  port: 5432
  name: "freshrss"
  username: "freshrss"

persistence:
  enabled: true
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 1Gi

restartPolicy: Always

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

